<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AmazingLife.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50FE4E321D46F52B000B33D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50FE4E461D46F52C000B33D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50FE4E511D46F52C000B33D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
